html,
body {
  margin: 0;
  padding: 0;
  background: #050510;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
}

.heading-font {
  font-family: var(--font-space);
}
